/SingleResponsabilityPrinciple/nbproject/
/SingleResponsabilityPrinciple/target/
/OpenClosedPrinciple/nbproject/
/OpenClosedPrinciple/target/
/LiskovSubstitutionPrinciple/target/
/LiskovSubstitutionPrinciple/nbproject/
/InterfaceSegregationPrinciple/target/
/LawOfDemeter/nbproject/
/LawOfDemeter/target/
/DontRepeatYourself/target/
/DontRepeatYourself/nbproject/
/DontRepeatYourself1/nbproject/
/DontRepeatYourself1/target/
/DontRepeatYourself2/target/
/DontRepeatYourself2/nbproject/
/DependencyInversionPrinciple/target/
/DependencyInversionPrinciple/nbproject/
